#!/usr/bin/env bash
# See https://docs.docker.com/compose/environment-variables/#the-env-file

# Nginx
NGINX_HOST=localhost

# PHP
# See https://hub.docker.com/r/nanoninja/php-fpm/tags/
PHP_VERSION=8.1 #may be next: 7.1.14, 7.4.10, 8.1;

# Postgre
POSTGRES_VERSION=latest
POSTGRES_DB=simple_event_service
POSTGRES_USER=root
POSTGRES_PASSWORD=root

COMPOSE_PROJECT_NAME=simple_event_service
